body {
    font-family: Muli, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 88px;

    @media screen and (min-device-width: 768px) {
        margin-top: 155px;
    }
}

p {
    line-height: 30px;
}

/* body {
    margin: 0;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 120px;
  } */

.header__nav-wrapper {
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
}

.header__nav-megamenu-label-signIn {
    align-self: center;
}

.header__nav-menuwrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.header__nav-container-top {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    @media screen and (min-device-width: 768px) {
        padding: 0 36px;
    }
}

.header__nav-container-logo {
    width: 100px;
    padding: 12px;
}

.header__nav-logo-img {
    width: 90px;
    height: 60px;
}

.header__nav-megamenu {
    display: none;
    padding: 0;
    margin: 0;
    float: right;

    @media screen and (min-device-width: 768px) {
        display: inline-block;
    }
}

.header__nav-megamenu-label {
    display: inline-block;
    list-style: none;
    position: relative;
}

a.megamenu-nav__link {
    font-size: 12px;
    text-decoration: none;
    color: #4d4d4d;
    padding: 23px 0 23px;
    margin: 0 10px;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    position: relative;
    letter-spacing: 0;
    white-space: normal;
    cursor: pointer;
    line-height: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header__nav-submenu {
    display: none;
}

.header__nav-megamenu-label-signIn.signInlink a {
    color: #1f84f8;
    border: 1px solid #1f84f8;
    padding: 7px 15px;
    border-radius: 8px;
    text-align: center;
}

.header__nav-container-bottom {
    background: white;
    height: 47px;
    width: 100%;
    display: none;

    @media screen and (min-device-width: 768px) {
        /* background: #232323; */
        background: #083e81;
        box-shadow: 0 3px 6px rgba(37, 56, 88, 0.1607843137);
        display: block;
    }
}

.header__nav-container-bottom-wrapper {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: -23px;
    align-items: flex-start;
    background: white;

    @media screen and (min-device-width: 768px) {
        margin: 0 auto;
        flex-direction: row;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 36px;
        padding-right: 36px;
        background: #0b3973;
        align-items: center;
        position: unset;
    }
}

.header__nav-container-bottom-wrapper li {
    margin-right: 55px;
    border-bottom: 1px solid grey;
    width: 100%;

    @media screen and (min-device-width: 768px) {
        border-bottom: transparent;
        width: auto;
    }
}

.header__nav-container-bottom-wrapper li button span {
    display: inline-block;
    float: right;

    @media screen and (min-device-width: 768px) {
        display: none;
    }
}

.header__nav-container-bottomMegamenu__link.active span svg {
    transform: rotate(180deg);
}

.header__nav-container-bottom-wrapper li button {
    font-size: 16px;
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 16px 12px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    background: transparent;
    border: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;

    @media screen and (min-device-width: 768px) {
        color: #fff;
        width: auto;
    }
}

button.header__nav-container-bottomMegamenu__link.active+.header__nav-submenu {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style: none;
    padding: 0 12px;
    background: #F5F5F5;
    border-radius: 3px;

    @media screen and (min-device-width: 768px) {
        position: absolute;
    }
}

.header__nav-submenu li {
    margin: 12px 0;
    border-bottom: transparent;
    width: 100%;
}

.header__nav-submenu li a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.header__nav-submenu li a:hover {
    color: #0b3973;
    background: transparent;
}

.hamburger-menu-icon {
    background: transparent;
    min-width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ham-container {
    width: 50%;
    position: relative;
    padding: 0;
    background: none;
    border: none;
}

.header__nav-menuwrapper-mobileHamburgerMenu {
    position: relative;
    top: 12px;
    display: block;

    @media screen and (min-device-width: 768px) {
        display: none;
    }
}

.ham.hamburger__icon--open {
    background: transparent;
}

.ham.hamburger__icon--open::before {
    transform: rotate(-45deg);
    top: 0;
}

.ham.hamburger__icon--open::after {
    transform: rotate(45deg);
    top: 0;
}

.ham {
    height: 2px;
    background: black;
    width: 100%;
    display: block;
    transition: all 0.5s ease;
    width: 100%;
}

.ham::before {
    content: " ";
    height: 2px;
    background: black;
    width: 100%;
    display: block;
    position: absolute;
    top: -7px;
    transition: all 0.5s ease;
}

.ham::after {
    content: " ";
    height: 2px;
    background: black;
    width: 100%;
    display: block;
    position: absolute;
    top: 7px;
    transition: all 0.5s ease;
}

/*FOOTER*/
footer {
    background: #232323;
    padding: 32px 0;
    bottom: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.footer-container__links-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 20px;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
    }
}

.footer-container__link-section p {
    letter-spacing: 0;
    color: #fff;
    font-weight: 700;
    text-align: left;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.footer-container__link-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-container__link-section ul li a {
    letter-spacing: 0;
    color: #b3bac5;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 16px;
    cursor: pointer;
    text-decoration: none;
}

.footer-container__disclaimer-section {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    padding: 0 20px;
    margin-top: 50px;
    text-align: center;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Block: modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Element: modal__content */
.modal__content {
    background-color: #fff;
    margin: 60% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        margin: 15% auto;
    }
}

/* Element: modal__close */
.forgot__modal--close,
.form__close,
.modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.forgot__modal--close:hover,
.forgot__modal--close:focus,
.form__close:hover,
.form__close:focus,
.modal__close:hover,
.modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Element: modal__form */
.modal__form {
    display: flex;
    flex-direction: column;
}

/* Element: modal__title */
.modal__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #043c6d;
}

.modal__fieldSet {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 60px;
    }
}

/* Element: modal__field */
.modal__field {
    margin-bottom: 15px;
}

/* Element: modal__label */
.modal__label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Element: modal__input */
.modal__input {
    width: 100%;
    min-width: 260px;
    padding: 10px;
    box-sizing: border-box;
}

.modal__input-forgotPassword {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    color: orange;
}

/* Element: modal__button */
.modal__login-button {
    width: 155px;
    padding: 10px;
    background-color: #053c6d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.modal__button:hover {
    background-color: #45a049;
}

.modal__login,
.modal__register {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

/*Forgot Password Model*/
.modal__forgotPassword {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__preTitle {
    margin: 0 10px 30px 10px;
    text-align: center;
}


/*register component*/
.modal--signup {
    /* Modal styles */
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.form {
    background: #fff;
    width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form__fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: 768px) {
        padding: 20px;
        gap: 40px;
    }
}

.form__field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.form__label--title {
    display: flex;
    flex-direction: column;
}

.form__label {
    display: block;
    margin-bottom: 5px;
}

.form__select {
    width: 100%;
    min-width: 66px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form__input {
    width: 100%;
    min-width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        min-width: 227px;
    }
}

.form__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form__checkbox-input {
    margin-right: 10px;
}

.form__checkbox-label {
    font-size: 14px;
}

.form__submit {
    width: 155px;
    padding: 10px;
    background-color: #053c6d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.form__login {
    text-align: center;
    margin-top: 10px;
}

/*customer component*/
.customer-section {
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
}

.customer-section__title {
    text-align: center;
    margin-bottom: 10px;
}

.customer-section__subtitle {
    font-size: 18px;
    margin-bottom: 0px;
}

.customer-section__features {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
    }
}

.feature {
    width: 60%;
    padding: 0px 50px 20px 50px;
    text-align: center;

    @media screen and (min-device-width: 768px) {
        width: 30%;
    }
}

.feature__description {
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.feature__detail {
    font-size: 14px;
}


/*Benefits Component*/
.benefits {
    text-align: center;
    font-family: Arial, sans-serif;
}

.benefits__title {
    margin-bottom: 10px;
}

.benefits__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.benefits__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
    }
}

.benefit-item {
    width: 100%;
    text-align: center;
    display: flex;

    @media screen and (min-device-width: 768px) {
        width: 30%;
    }
}

.benefit-item__number {
    color: orange;
    font-size: 40px;
    font-weight: bold;
    margin: 6px 10px;
}

.benefit-item__content {
    text-align: left;
    width: 100%;
}

.benefit-item__title {}

/*Tiles Component*/
.tiles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #f2f7ff;
    width: 100%;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
        padding: 40px 20px;
    }
}

.tile {
    border-radius: 10px;
    margin: 20px;
    background-color: #fff;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.tile__icon {
    width: 190px;
    height: 100%;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

.tile__content {
    width: 50%;
    padding: 10px;
}

.tile__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tile__link {
    text-decoration: none;
    font-size: 16px;
}

.tile__description {
    font-size: 12px;
}

.tile__icon--shield {
    background-image: url('https://via.placeholder.com/50');
}

.tile__icon--assistance {
    background-image: url('https://via.placeholder.com/50');
}

.tile__icon--chat {
    background-image: url('https://via.placeholder.com/50');
}

/* PB advantage component*/
.pb-advantage {
    top: 0;
    padding: 20px;
    position: relative;
    background-color: #f9f9f9;
}

.pb-advantage__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.pb-advantage__description {
    width: 100%;
    text-align: left;
    font-size: 16px;
    margin-bottom: 27px;

    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

.pb-advantage__services {
    /* styles for services block */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pb-advantage__service-item {
    flex: 1 1 calc(20% - 20px);
    min-height: 220px;
    max-width: 350px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pb-advantage__service-icon {
    width: 330px;
    height: 230px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

.pb-advantage__service-icon {
    background-image: url('https://via.placeholder.com/200');
}


.pb-advantage__service-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 30px;
}

.pb-advantage__service-description {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.pb-advantage__service-button {
    text-decoration: none;
    display: flex;
    border: 1px solid blue;
    background-color: #fff;
    color: blue;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: 10px 0 30px 0;

}

/* Card component*/
.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    background: #f2f7ff;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.card {
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.card__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}

.card__content {
    flex: 1;
}

.card__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card__button {
    padding: 10px 20px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 40%;
}

.card--green {
    background: linear-gradient(to right, #00c48c, #00a884);
}

.card--purple {
    background: linear-gradient(to right, #7f53ac, #647dee);
}

.card--pink {
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
}

.card__icon {
    background-image: url('https://via.placeholder.com/50');
}

/*testimonials component*/
.testimonials {
    padding: 40px 20px;
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
}

.testimonials__title {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
}

.testimonials__title--underline {
    background: #0065ff;
    width: 70px;
    height: 4px;
    margin: 10px 0 0;
    display: block;
}

.testimonials__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.testimonial {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.testimonial__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial__name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial__quote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    font-size: 20px;
    color: blue;
}

.testimonial__text {
    font-size: 14px;
    color: #555;
}


/*INSURANCE*/
.form-container {
    border-radius: 8px;
    box-shadow: 0 3px 12px #00000029;
    padding: 24px 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (min-device-width: 768px) {
        width: 80%;
        padding: 20px;
    }
}

.form-wrapper h2 {
    margin-top: 0;
}

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-field-label {
    margin-bottom: 4px;
}

.form-field-value {
    height: 42px;
    border-radius: 6px;
    border: 1px solid lightgray;
    padding: 0 6px;
}

.form-wrapper {
    width: 90%;
    margin: 0 auto;

    @media screen and (min-device-width: 768px) {
        width: 70%;
    }
}

.form-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background: #f8f6f6;
    margin-top: 23px;
    padding: 32px 0;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
    }
}

.form-content-section {
    display: flex;
    flex-direction: column;
    height: 0%;
    position: relative;
    top: 0;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
        top: 50px;
    }
}

.form-content-section-block img {
    width: 65px;
    height: 65px;
}

.form-content-section-block h2 {
    margin-bottom: 6px;
}

.form-content-section-block p {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
}

.form-content-section-block {
    padding: 12px 0;
    background: white;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 12px #00000029;
}

.form-choose-plan-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
        justify-content: unset;
    }
}

.form-choose-plan {
    border: 1px solid grey;
    padding: 16px 6px;
    border-radius: 8px;
    margin: 12px;
    flex-wrap: wrap;
    text-align: center;

    @media screen and (min-device-width: 768px) {
        margin: 5px;
    }
}

.selector {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.selector-item {
    position: relative;
    flex-basis: calc(70% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-item_radio {
    appearance: none;
    display: none;
}

.selector-item_label {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 235%;
    font-weight: 700;
    transition-duration: .5s;
}

.selector-item_radio:checked+.selector-item_label {
    background: lightgrey;
    border-radius: 6px;
}

.form-choose-plan span a {
    text-decoration: none;
    color: #1f84f8;
}

.form-choose-plan span a:hover {
    text-decoration: underline;
}

.form-plan-container p {
    margin: 0;
    font-size: 12px;
}

.form-plan-container h3 {
    margin-bottom: 0;
}

button.btn-getquote {
    border-radius: 7px;
    border: 1px solid gainsboro;
    background: coral;
    width: 100%;
    font-weight: 700;
    cursor: pointer;

    @media screen and (min-device-width: 768px) {
        width: 34%;
    }
}

button.btn-getquote a {
    text-decoration: none;
    color: black;
}

.btn-getquote-wrapper {
    align-items: center;
    margin: 32px 0 0 0;
}

button.btn-getquote:hover {
    color: brown;
    box-shadow: 0 3px 12px #00000029;
}

.plan-details-container {
    margin: 42px;
    width: 100%;
    padding: 24px 0 40px 0;
    background: rgb(229, 231, 235);
}

.plan-details-container h2 {
    text-align: center;
    padding: 0;
    margin-bottom: 18px;
    margin-top: 0;
}

.benefits-static-content ul {
    padding: 0;
}

.form-content-image img {
    width: 100%;
}

.plan-details-container-section {
    width: 90%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: none;
    row-gap: 24px;
    margin: 0 auto;
    font-family: Euclid Circular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (min-device-width: 768px) {
        column-gap: 24px;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
    }
}

.plan-details-container-wrapper h3 {
    text-align: center;
}

.plan-details-container-wrapper {
    background: white;
    border-radius: 12px;
    padding: 0px 18px 18px 18px;
}

.plan-details-container-wrapper ul {
    padding: 0;
    list-style: none;
}

.plan-details-container-wrapper ul li span.right-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    margin-top: 4px;
}

.plan-details-container-wrapper li {
    display: flex;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    float: right;
}

.buttons-container a {
    text-decoration: none;
    color: #1f84f8;
    margin-bottom: 12px;
    font-size: 14px;
}

.buttons-container a:hover {
    text-decoration-line: underline;
}

.buttons-container button {
    border-radius: 7px;
    border: 1px solid gainsboro;
    background: coral;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
}

.buttons-container button:hover {
    color: brown;
    box-shadow: 0 3px 12px #00000029;
}

.benefits-static-content {
    margin: 0 24px 24px 24px;
}

.benefits-static-content h2 {
    margin-top: 0;
}

.benefits-static-content ul li {
    margin-bottom: 16px;
    font-size: 14px;
    list-style: disc;
    margin-bottom: 16px;
    margin-left: 20px;
    line-height: 1.5;
}

.insurance-list-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
    }
}

.insurance-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-device-width: 768px) {
        width: 60%;
    }
}

.insurance-list-item {
    border: 3px solid #c9c9c9;
    border-radius: 16px;
    margin-bottom: 18px;
}

.insurance-list-item-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
    background: #f5f6f6;
    padding: 8px 8px 0 8px;
    border-radius: 16px;
}

.insurance-list-item-price p {
    margin: 0;
}

.insurance-list-item-benefits ul {
    padding: 0;
    margin: 0;
    padding: 0 12px;
}

.insurance-list-item-benefits ul li {
    /* display: flex; */
    /* flex-direction: row; */
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 14px;
}

.insurance-list-item-benefits ul li svg {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    position: relative;
    top: 3px;
}

.insurance-list-item-buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 12px;
    padding-top: 12px;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
    }
}

.insurance-list-item-buttons-wrapper button {
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid gainsboro;
    background: coral;
    font-weight: 700;
    cursor: pointer;
    width: 90%;
    margin-bottom: 12px;

    @media screen and (min-device-width: 768px) {
        width: 24%;
        margin-bottom: unset;
    }
}

.insurance-list-item-buttons-wrapper button a {
    text-decoration: none;
    color: black;
}

.insurance-list-item-price-amount {
    font-size: 12px;
    position: relative;
    top: -8px;
    color: #575757;
}

.insurance-right-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 24px 0 24px 24px;

    @media screen and (min-device-width: 768px) {
        width: 50%;
    }
}

.insurance-right-content h1 {
    margin: 0;
}

.insurance-right-content img {
    margin-bottom: 40px;
}

.insurance-right-content p {
    line-height: 24px;
}

.insurance-benefits-section {
    width: 100%;
    background: #f7f4f4;
    margin-bottom: 24px;
}

.insurance-benefits-section h2 {
    margin-left: 24px;
}

ul.insurance-benefits-section-wrapper {
    margin: 0 24px;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
    }
}

ul.insurance-benefits-section-wrapper li {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
    max-width: 100%;
    width: 100%;

    @media screen and (min-device-width: 768px) {
        max-width: 40%;
    }
}

ul.insurance-benefits-section-wrapper li img {
    width: 50px;
    height: 50px;
}

ul.insurance-benefits-section-wrapper li div p {
    margin: 0 20px;
}

.insurance-payment-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
    }
}

.insurance-payment-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-device-width: 768px) {
        width: 60%;
    }
}

.insurance-payment {
    border: 3px solid #c9c9c9;
    border-radius: 16px;
    margin-bottom: 18px;
    padding: 20px 20px 0 20px;
    background: #f5f6f6;
}

.payment-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.payment-form-field label {
    margin-bottom: 4px;
}

.icon-container .fa {
    font-size: 30px;
    margin-right: 10px;
}

.payment-form-field-value {
    height: 36px;
    border-radius: 6px;
    border: 1px solid lightgray;
    padding: 0 6px;
    width: 90%;

    @media screen and (min-device-width: 768px) {
        width: 60%;
    }
}

input#cvv {
    width: 10%;
}

input#exp-year {
    width: 14%;
}

button.btn-pay {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid gainsboro;
    background: coral;
    font-weight: 700;
    cursor: pointer;
    width: 30%;
}

button.btn-pay a {
    text-decoration: none;
    color: black;
}

.thankyou-section-wrapper {
    background: transparent;
    width: 100%;
}

.thankyou-section-content {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    background: #fff0e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 16px;
}

.thankyou-section-content span {
    font-size: -webkit-xxx-large;
    margin: 18px 0;
}

.thankyou-section-content p {
    margin-top: 0;
}

.thankyou-section-content button {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid gainsboro;
    background: coral;
    font-weight: 700;
    cursor: pointer;
    width: auto;
}

.thankyou-section-content button a {
    text-decoration: none;
    color: black;
}